body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px repeat(3, 300px);
  grid-template-areas:
    "header header header header"
    "navbar main-content main-content main-content"
    "navbar content-1 content-2 content-3"
    "navbar footer footer footer";
}

header,
nav,
section,
footer {
  padding: 20px;
}

header {
  background-color: lightblue;
  grid-area: header;
}

nav {
  background-color: lightgreen;
  grid-area: navbar;
}

.main-saction-content {
  background-color: lightsalmon;
  grid-area: main-content;
}

.content-1 {
  background-color: paleturquoise;
  grid-area: content-1;
}

.content-2 {
  background-color: khaki;
  grid-area: content-2;
}

.content-3 {
  background-color: plum;
  grid-area: content-3;
}

footer {
  background-color: lightpink;
  grid-area: footer;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin-bottom: 7px;
}

li a {
  color: royalblue,red;
}


/* Mídias queries para formatação em mobiles e monitor */

@media screen and (max-width: 768px) {
  body {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px repeat(5, 250px);
    grid-template-areas:
      "header header"
      "navbar"
      "main-content"
      "content-1 content-1"
      "content-2 content-2"
      "content-3 content-3"
      "footer footer";
  }
}

@media screen and (max-width: 480px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 100px repeat(6, 200px);
    grid-template-areas:
      "header"
      "navbar"
      "main-content"
      "content-1"
      "content-2"
      "content-3"
      "footer";
  }
}
/* os operadores and | or | not pode ser usados. */
@media screen and (min-width: 320px) and (max-width: 475px) {
  body {
    flex-wrap: wrap;
    grid-template-columns: 1fr;
    grid-template-rows: 100px repeat(4, 200px);
    grid-template-areas:
      "header"
      "navbar"
      "main-content"
      "content-1"
      "content-2"
      "content-3"
      "footer footer"
  }
}

/* landscape ou portrait */
/* identifica modo horizontal e vertical em telas/celular */
@media screen and (orientation: portrait){
  body {
    flex-wrap: wrap;
  }
  nav{
    flex-wrap: wrap;
  }
  header{
    background-color: red;
  }
}

/* para identificar um dispositivo sensível ao toque */

@media screen and (pointer: coarse){
  body {
    flex-wrap: wrap;
  }
  nav{
    flex-wrap: wrap;
  }
  header{
    background-color: yellow;
  }
}